@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;700&display=swap');


*,
h1,
h2,
h3 {
    padding: 0;
    margin: 0;
}

* {
    box-sizing: border-box;
}

:root {
    --bright-red: rgb(243, 96, 60);
    --dark-blue: hsl(228, 39%, 23%);
    --dark-greyish-blue: hsl(227, 12%, 61%);
    --very-dark-blue: hsl(233, 12%, 13%);
    --very-pale-red: hsl(13, 100%, 96%);
    --very-light-grey: hsl(0, 0%, 98%);
    --font-size-h2: 35px;
    --font-size-p: 16px;
    --opacity-p: .5
}

body {
    font-family: 'Be Vietnam Pro', sans-serif;
}

/* Mobile Design */

main {
    display: flex;
    flex-direction: column;
    margin: auto;
    text-align: center;
}

header {
    display: flex;
    flex-direction: column;
    /* background: url(./images/bg-tablet-pattern.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100px -220px; */
}


.hero-right img {
    width: 80vw;
    margin-bottom: 20px;
}

nav {
    display: flex;
    justify-content: space-between;
    margin: 3rem 2rem;
}


.hidden {
    display: none;
}

.humberger {
    cursor: pointer;
}

.hero {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 4rem;
}

.hero-left {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding-bottom: 70px;
    background-image: url(./images/bg-tablet-pattern.svg);
    background-repeat: no-repeat;
    background-position: 100px -200px;
}


.hero-left h1 {
    font-size: 42px;
    color: var(--dark-blue);
    margin-inline: .5rem;
    margin-bottom: 15px;
}

p {
    color: var(--dark-blue);
    opacity: var(--opacity-p);
}

.hero-left p {
    font-size: 20px;
    width: 80%;
    margin-bottom: 20px;
}

.button {
    text-decoration: none;
    color: white;
    background-color: var(--bright-red);
    padding: 1rem 2rem;
    border-radius: 2rem;
    font-weight: 500;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
}

.content-1 {
    display: flex;
    flex-direction: column;
}

.content-left {
    padding-inline: 1rem;
}

.content-left h2 {
    font-size: var(--font-size-h2);
    color: var(--dark-blue);
    font-weight: 700;
    padding-inline: 1rem;
    line-height: 1.5;
    padding-bottom: 1.5rem;
}

.content-left p {
    font-size: var(--font-size-p);
    line-height: 1.67;
    padding: 0 .6rem 1rem .6rem;
}

.content-right {
    display: flex;
    flex-direction: column;
    text-align: start;
    padding-left: 20px;
}

.content-right h3 {
    font-size: 16px;
    color: var(--dark-blue);
    background-color: var(--very-pale-red);
    padding-block: 13px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    margin-block: 20px;
}

.content-right h3 span {
    background-color: var(--bright-red);
    padding: 12px 25px;
    border-radius: 30px;
    margin-right: 20px;
    font-weight: 500;
    color: white;
}

.content-right p {
    font-size: var(--font-size-p);
    line-height: 1.67;
    padding-right: 20px;
    padding-bottom: 20px;
}

.testimonial {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4rem;
}

.testimonial h2 {
    margin-bottom: 3rem;
    color: var(--dark-blue);
    font-size: var(--font-size-h2);
    font-weight: 700;
}

.cards {
    margin-block: 3rem;
    background-color: var(--very-light-grey);
    margin-inline: 20px;
    padding-bottom: 2rem;
}

.cards h3 {
    color: var(--dark-blue);
}

.cards img {
    width: 5rem;
    transform: translate(0px, -40px);
}

.cards p {
    text-align: center;
    line-height: 1.6;
    font-size: var(--font-size-p);
    padding: 2rem 3rem;
}

.footer-hero {
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: var(--bright-red);
    padding: 4rem 0rem;
    background-image: url(./images/bg-simplify-section-mobile.svg);
    background-repeat: no-repeat;
    background-position: 0px 50px;
}

.footer-hero h2 {
    padding: 2rem 1rem;
    color: white;
    font-size: 45px;
    font-weight: 600;
    line-height: 1.4;
}

.white {
    background-color: white;
    color: var(--bright-red);
    text-decoration: none;
    padding: 1rem 2rem;
    border-radius: 2rem;
    font-weight: 500;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
}

.white:hover {
    color: rgb(243, 126, 100);
    background-color: rgb(248, 232, 228);
}

footer {
    background-color: var(--very-dark-blue);
    color: white;
    display: flex;
    flex-direction: column;
    padding: 2rem 1rem;
}

.input {
    font-size: 14px;
    padding: .9rem 2rem .9rem 1rem;
    border-radius: 30px;
    font-family: inherit;
    border: none;
    outline: none;
    background-color: white;
    margin-right: .2rem;
}

form {
    margin-block: .2rem;
    margin-left: 3rem;
}

.btn-go {
    text-transform: uppercase;
    font-size: 14px;
    padding: .9rem 2rem;
    border-radius: 30px;
    font-family: inherit;
    border: none;
    font-weight: 500;
    outline: none;
    color: white;
    background-color: var(--bright-red);
    display: inline;
    cursor: pointer;
}

.btn-go:hover,
.button:hover {
    background-color: rgb(243, 126, 100)
}

.nav-footer {
    margin-top: 4rem;
    display: flex;
    justify-content: space-around;
}

.nav-footer li {
    list-style: none;
    font-size: 17px;
    margin-bottom: 1rem;
    opacity: .8;
    cursor: pointer;
}

.nav-footer li:hover {
    color: var(--bright-red);
}

.logo {
    text-align: center;
}

.icons {
    display: flex;
    justify-content: flex-start;
    padding: 3rem 3rem;
}

.icons img {
    margin-right: 1rem;
    width: 20px;
    cursor: pointer;
}

.icons img:hover {
    filter: brightness(0) saturate(100%) hue-rotate(45deg) invert(54%) sepia(100%) saturate(7500%) hue-rotate(347deg) brightness(110%) contrast(105%);
    transition: .2s;
}

.logoo {
    filter: invert(100%) sepia(100%) saturate(1%) hue-rotate(305deg) brightness(103%) contrast(101%);
}

.copyright {
    margin-top: 3rem;
    text-align: center;
    color: var(--very-light-grey);
}

/* .nav-links {
    display: none;
    flex-direction: column;
    background-color: #333;
    color: #fff;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    text-align: center;
} */

/* @media screen and (min-width: 769px) {
    header {
        background-position: 0 0;
    }

    .nav-links {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        position: static;
        top: auto;
        left: auto;
        width: auto;
        background-color: black;
    }

    .nav-links li {
        margin-left: 20px;
        margin-top: 0;
    }

    .button {
        margin-left: 20px;
    }

    .hamburger {
        display: none;
    }
} */