@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;700&display=swap');

*,
h1,
h2,
h3 {
    padding: 0;
    margin: 0;
}

* {
    box-sizing: border-box;
}

:root {
    --bright-red: rgb(243, 96, 60);
    --dark-blue: hsl(228, 39%, 23%);
    --dark-greyish-blue: hsl(227, 12%, 61%);
    --very-dark-blue: hsl(233, 12%, 13%);
    --very-pale-red: hsl(13, 100%, 96%);
    --very-light-grey: hsl(0, 0%, 98%);
    --font-size-h2: 35px;
    --font-size-p: 16px;
    --opacity-p: .5
}

body {
    font-family: 'Be Vietnam Pro', sans-serif;
    background: url(./images/bg-tablet-pattern.svg);
    background-repeat: no-repeat;
    background-size: 500px 500px;
    background-position: 70px -100px;
}

/* Mobile Design */

main {
    display: flex;
    flex-direction: column;
}

.hero-right img {
    margin-bottom: 20px;
}

nav {
    display: flex;
    justify-content: space-between;
    margin: 3rem 2rem;
}

nav ul {
    display: none;
    flex-direction: column;
    color: var(--dark-blue);
    text-align: center;
}

ul.nav-links.active {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 60;
    left: 20;
    margin-top: 40px;
    width: 80%;
    height: 300px;
    background-color: white;
    text-align: right;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
}

ul.nav-links.active li {
    padding: 6px;
}



img.humberger.hide {
    display: none;
}

.nav-links li {
    font-family: inherit;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
    list-style-type: none;
}

.top {
    display: none;
}

img.close {
    display: none;
}

img.close.show {
    display: flex;
    position: absolute;
    cursor: pointer;
}

.humberger {
    cursor: pointer;
    position: absolute;
}

.hero {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 4rem;
}

.hero-left {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding-bottom: 70px;
}


.hero-left h1 {
    font-size: 42px;
    color: var(--dark-blue);
    margin-inline: .5rem;
    margin-bottom: 15px;
}

p {
    color: var(--dark-blue);
    opacity: var(--opacity-p);
}

.hero-left p {
    font-size: 20px;
    width: 80%;
    margin-bottom: 20px;
}

.button {
    text-decoration: none;
    color: white;
    background-color: var(--bright-red);
    padding: 1rem 2rem;
    border-radius: 2rem;
    font-weight: 500;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
}

.content-1 {
    display: flex;
    flex-direction: column;
}

.content-left {
    padding-inline: 1rem;
}

.content-left h2 {
    font-size: var(--font-size-h2);
    color: var(--dark-blue);
    font-weight: 700;
    padding-inline: 1rem;
    line-height: 1.5;
    padding-bottom: 1.5rem;
}

.content-left p {
    font-size: var(--font-size-p);
    line-height: 1.67;
    padding: 0 .6rem 1rem .6rem;
}

.content-right {
    display: flex;
    flex-direction: column;
    text-align: start;
    padding-left: 20px;
}

.content-right h3 {
    font-size: 16px;
    color: var(--dark-blue);
    background-color: var(--very-pale-red);
    padding-block: 13px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    margin-block: 20px;
}

.content-right h3 span {
    background-color: var(--bright-red);
    padding: 12px 25px;
    border-radius: 30px;
    margin-right: 20px;
    font-weight: 500;
    color: white;
}

.content-right p {
    font-size: var(--font-size-p);
    line-height: 1.67;
    padding-right: 20px;
    padding-bottom: 20px;
}

.testimonial {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4rem;
}

.testimonial h2 {
    margin-bottom: 3rem;
    color: var(--dark-blue);
    font-size: var(--font-size-h2);
    font-weight: 700;
}

.testimonial-cards {
    display: flex;
    flex-direction: column;
}

.cards {
    margin-block: 3rem;
    background-color: var(--very-light-grey);
    padding-bottom: 2rem;
    text-align: center;
}

.cards h3 {
    color: var(--dark-blue);
}

.cards img {
    width: 65px;
    transform: translate(0px, -30px);
}

.cards p {
    text-align: center;
    line-height: 1.6;
    font-size: var(--font-size-p);
    padding: 2rem 3rem;
}

.footer-hero {
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: var(--bright-red);
    padding: 4rem 0rem;
    background-image: url(./images/bg-simplify-section-mobile.svg);
    background-repeat: no-repeat;
    background-position: 0px 50px;
}

.footer-hero h2 {
    padding: 2rem 1rem;
    color: white;
    font-size: 45px;
    font-weight: 600;
    line-height: 1.4;
}

.white {
    background-color: white;
    color: var(--bright-red);
    text-decoration: none;
    padding: 1rem 2rem;
    border-radius: 2rem;
    font-weight: 500;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
}

.white:hover {
    color: rgb(243, 126, 100);
    background-color: rgb(248, 232, 228);
}

footer {
    background-color: var(--very-dark-blue);
    color: white;
}

.footer {
    display: flex;
    flex-direction: column;
    padding: 2rem 1rem 1rem 1rem;
}

.input {
    font-size: 14px;
    padding: .9rem 2rem .9rem 1rem;
    border-radius: 30px;
    font-family: inherit;
    border: none;
    outline: none;
    background-color: white;
    margin-right: .2rem;
}

form {
    margin-block: .1rem;
    margin-left: 1rem;
    align-self: center;
}

.btn-go {
    text-transform: uppercase;
    font-size: 14px;
    padding: .9rem 2rem;
    border-radius: 30px;
    font-family: inherit;
    border: none;
    font-weight: 500;
    outline: none;
    color: white;
    background-color: var(--bright-red);
    display: inline;
    cursor: pointer;
}

.btn-go:hover,
.button:hover {
    background-color: rgb(243, 126, 100)
}

.nav-footer {
    margin-top: 4rem;
    display: flex;
    justify-content: space-around;
}

.nav-footer li {
    list-style: none;
    font-size: 17px;
    margin-bottom: 1rem;
    opacity: .8;
    cursor: pointer;
}

.nav-footer li:hover,
.nav-links li:hover {
    color: var(--bright-red);
}

.logo {
    text-align: left;
    padding: 0rem 3rem;
}

.icons {
    padding: 2rem 0rem;
    display: flex;
    justify-content: flex-start;
}

.icons img {
    margin-right: 1rem;
    width: 20px;
    cursor: pointer;
}

.icons img:hover {
    filter: brightness(0) saturate(100%) hue-rotate(45deg) invert(54%) sepia(100%) saturate(7500%) hue-rotate(347deg) brightness(110%) contrast(105%);
    transition: .2s;
}

.logoo {
    filter: invert(100%) sepia(100%) saturate(1%) hue-rotate(305deg) brightness(103%) contrast(101%);
}

.copyright {
    margin-top: 0rem;
    text-align: center;
    color: var(--very-light-grey);
}


@media screen and (min-width: 769px) {

    body {
        background-size: 900px 800px;
        background-position: 600px -200px;
    }

    main {
        margin: 1rem 0;
    }

    nav {
        align-items: center;
        margin-left: 6rem;
    }

    nav a {
        display: inline;
    }

    .top {
        display: block;
    }

    .humberger {
        display: none;
    }

    .close {
        display: none;
    }

    .nav-links {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .nav-links li {
        margin-left: 20px;
    }

    nav a {
        align-self: flex-end;
    }

    .button,
    .white {
        padding: .7rem 1.5rem;
        font-size: 14px;
    }

    .hero {
        margin: 3rem 10rem;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-between;
    }

    .hero-right img {
        width: 35vw;
    }

    .hero-left {
        text-align: left;
        align-items: flex-start;
    }

    .hero-left p {
        font-size: 16px;
        max-width: 90%;
    }

    .content-1 {
        flex-direction: row;
        margin-top: 2rem;
        background: url(./images/bg-tablet-pattern.svg);
        background-repeat: no-repeat;
        background-size: 500px 500px;
        background-position: -290px 150px;
        z-index: 1;
    }

    .content-left {
        margin-left: 6rem;
    }

    .content-left h2 {
        line-height: 1.1;
    }

    .content-left p {
        padding: 0 1rem 1rem .6rem;
    }

    .content-right h3 {
        background-color: white;
        font-weight: 700;
    }

    .content-right h3 span {
        padding: 9px 20px;
        font-weight: 700;
    }

    .content-right p {
        padding-inline: 5rem;
    }

    .testimonial {
        margin-top: 2rem;
        text-align: center;
    }

    .testimonial h2 {
        margin-bottom: 2rem;
    }

    .testimonial-cards {
        flex-direction: row;
    }

    .cards {
        margin-block: 2rem;
        margin-left: 30px;
        padding-bottom: .2rem;
        width: 600px;
    }

    .cards h3 {
        margin: 0;
    }

    .cards p {
        padding: .5rem 4rem;
    }

    .cards img {
        width: 70px;
        margin: 0;
        transform: translate(0px, -30px);
    }

    .footer-hero {
        margin-top: 7rem;
        flex-direction: row;
        justify-content: space-around;
        padding: 0rem 1rem;
        background-image: url(./images/bg-simplify-section-desktop.svg);
        background-position: 200px -100px;
        margin-bottom: -16px;
    }

    .footer-hero h2 {
        padding-block: 5rem;
        text-align: left;
        width: 40%;
        font-size: 35px;
        line-height: 1.2;
    }

    .footer {
        flex-direction: row-reverse;
        align-items: flex-start;
        justify-content: space-between;
        padding: 3rem 1rem 2rem 1rem;
    }

    form {
        margin-block: .2rem;
        margin-left: 3rem;
    }

    .input {
        font-size: 14px;
        padding: .9rem 2rem .9rem 1rem;
        border-radius: 30px;
        font-family: inherit;
        border: none;
        outline: none;
        background-color: white;
        margin-right: .2rem;
    }

    .nav-footer {
        margin-top: 0rem;
    }

    .logo {
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
        align-items: center;
    }

    .logoo {
        width: 200px;
    }

    .nav-footer li {
        margin-bottom: .8rem;
    }

    .footer-nav-right {
        margin-left: 8rem;
    }

    .icons {
        margin-top: 2rem;
        margin-left: 2rem;
    }

    .icons img {
        width: 30px;
    }

    .copyright {
        text-align: right;
        margin-right: 3rem;
    }

}